@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #8b5cf6;
  --color-dark: #0f172a;
  --color-darker: #020617;
}

@layer base {
  body {
    background-color: var(--color-darker);
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
